<% quiz_item = @noun %>

<h3>Translate from <%= from_lang %> to <%= to_lang %></h3>

<% if @correct %>

<% end %>
<%= form_tag(:quizzes_translate_noun, remote: false) do %>
  <%= label_tag "answer" do %>
    <strong id="noun_from"><%= label_from(@noun) %></strong>
    <small id="noun_plural"><%= "(#{@noun.plural})" if show_plural? %></small>
    <%= button_tag('notes', 
                   type: 'button', 
                   class: "btn btn-mini btn-link toggle collapsed", 
                   disabled: @noun.notes.blank?, 
                   data: { toggle: "collapse", target: "#noun_notes" })  %>
  <% end %>
  <%= text_field_tag "answer", "", 
                     placeholder: "Translate to #{to_lang}",
                     autocomplete: :off, autofocus: :true %>
  <div id="noun_notes" class="collapse"><%= @noun.notes %></div>
  <%= hidden_field_tag "noun_id", @noun.id %>
  <%= hidden_field_tag "order", @order %>
  <div class="actions">
    <%= submit_tag "Submit", class: "btn btn-primary submit-answer" %>
<!--     <%= submit_tag "Hint", class: "btn btn-small request-hint" %>
    <%= button_tag "Skip", class: "btn btn-small" %> -->
  </div>
<% end %>

<div id="hint">

</div>