<div class="row">
  <div class="span8 offset2">
    <h2 id="noun_text" title="<%= @noun.english %>"><%= @noun.german %></h2>

    <div class="actions">
      <%= form_tag(quizzes_der_die_das_path, remote: true, class: "ddd_form") do %>
        <%= hidden_field_tag :noun_id, @noun.id, id: "noun_id" %> 
        <% @prev_answers.each do |a| %>
          <%= hidden_field_tag "prev_answers[]", a, class: "prev_answer", id: "prev_answer_" + a %>
        <% end %>
        <% @definite_nominative_articles.each do |a| %>
          <% disabled = @prev_answers.include?(a) 
             btn_cls = disabled ? "btn-danger" : "btn-info" %>
          <%= submit_tag a, class: "submit btn btn-large #{btn_cls}", disabled: disabled %>
        <% end %>
      <% end %>

    </div>
  </div>
  <div class="span2"/>
</div>