<div class="row">
  <div class="span8 offset2">
    <%= form_tag(:quizzes_pluralise, remote: false, method: :get, id: "category_form") do %>
    <%= select_tag :category_id, options_from_collection_for_select(categories_of_type(:Noun), :id, :name_and_count_noun, @category.id) %>
  <% end %>
    <h2 id="noun_text" title="<%= @noun.english %>"><%= @noun.german %></h2>
    <%= form_tag(:quizzes_der_die_das, remote: true, class: "ddd_form") do %>
      <%= hidden_field_tag :noun_id, @noun.id, id: "noun_id" %> 
      <% @prev_answers.each do |a| %>
        <%= hidden_field_tag "prev_answers[]", a, class: "prev_answer", id: "prev_answer_" + a %>
      <% end %>
      <% @definite_nominative_articles.each do |a| %>
        <% disabled = @prev_answers.include?(a) 
           btn_cls = disabled ? "btn-danger" : "btn-info" %>
        <%= submit_tag a, class: "submit btn #{btn_cls}", disabled: disabled %>
      <% end %>
      <%= hidden_field_tag :category_id, @category.id %>
    <% end %>
  </div>
  <div class="span2"/>
</div>