<%= bootstrap_form_for(@noun, html: { class: 'form-horizontal' }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
<!--   <%= render 'shared/german_chars' %> -->
  <%= f.text_field :english %>
  <%= f.text_field :german %>
  <%= f.text_field :plural %>
  <%= f.collection_select :article_id, Article.all, :id, :nominative, {} %>
  <%= f.collection_select :category_ids, Category.all, :id, :name, { selected: @noun.categories.map(&:id), include_blank: false }, { multiple: true, label: "Categories" } %>
  <%= f.text_area :notes, placeholder: "Additional notes/helpers", rows: 5 %>
  
  <div class="pull-right">
    <% if @noun.new_record? %>
      <%= f.submit "Create noun", class: "btn btn-primary" %>
    <% else %>
      <%= f.button "Undo", { type: :reset, class: "btn btn-success" } %>
      <%= f.submit "Cancel", class: "btn btn-danger" %>
      <%= f.submit "Save noun", class: "btn btn-primary" %>
    <% end %>
  </div>
<% end %>
