<%= form_tag request.path, class: "form-search", method: 'get' do %>
  <div class="input-prepend">
    <span class="add-on"><i class="icon-search"></i></span>
    <%= search_field_tag :search, params[:search], value: @search || "", placeholder: "Search", class: "search-query" %>
  </div>
<% end %>

<% if @verbs.any? %>
  <%= will_paginate @verbs %>
  <ul id="verbs_list" class="simple_list">
    <%= render partial: 'verb', collection: @verbs %>
  </ul>
  <%= will_paginate @verbs %>
<% end %>