<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "German Lernen", root_path, class: "brand" %>
      <nav>
        <ul class="nav pull-right">
          <% if !signed_in? %>
            <li class="divider-vertical"></li>
            <li><%= link_to "Home", root_path %></li>
          <% else %>
            <li class="divider-vertical"></li>
            <li><%= link_to "Nouns", nouns_path %></li>
            <li class="divider-vertical"></li>
            <li><%= link_to "Verbs", verbs_path %></li>
            <li class="divider-vertical"></li>
            <li><%= link_to "Quizzes", quizzes_path %></li>
            <li class="divider-vertical"></li>
            <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
            <li class="divider-vertical"></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>